*,
*:before,
*:after {
  box-sizing: inherit;
}
.cur{
  cursor: pointer;
}
a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.scrollbar-wrapper {
  overflow-x: hidden !important;

  .el-scrollbar__view {
    height: 100%;
  }
}

ul,li{
  list-style: none;
}
.div-flex-column {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.div-flex-row {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.div-flex-wrap {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.div-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-flex-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.div-flex-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

 